.article-display{
    padding: 2rem;
}
.article-display h2{
    font-size: 2rem;
}

.date{
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}

.body{
    white-space: pre-wrap;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}